@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: wrap;
}
h1{
  color: red;
}
.links a{
  text-decoration: none;
  margin: 20px;
}
.links a:hover{
    color: red;
  
  
}
h2{
  margin-top: 40px;
}
#hea{
  color: red;
}
#author{
  border-bottom: 1px solid white;
  margin-top:8px;
}
#author:hover{
  box-shadow:3px 3px 2px wheat ;
}
.preview a{
  text-decoration: none;
}
.create{
  margin-top: 40px;
}
#fr{
  text-align: center;
  color: red;
}
input{
  height: 40px;
}
textarea{
  height: 60px;
}
select{
  height: 30px;
}
#btn{
  width: 70px;
  border-radius: 5px;
  background-color: coral;
  color: aliceblue;
  border: none;
  height: 30px;
  margin-top: 20px;
  margin-left: 200px;
}
#btn:hover{
  background-color: cadetblue;
}
form{
  width: 500px;
  margin-left: 400px;
  display: flex;
  flex-direction: column;
  
}
#del{
  border-radius: 5px;
  background-color: coral;
  color: aliceblue;
  border: none;
  height: 30px;
  margin-top: 10px;
  width: 70px;
}